#team{
    padding: $padding-section;
    box-shadow: $box-section;
}

.container-team{
    display: flex;
    justify-content: space-evenly;
    @media (max-width:993px){
        flex-wrap: wrap;
    }
    @media (max-width:770px){
        flex-direction: column;
    }
}